@charset "UTF-8";

*{
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}

nav{
    background-color: black;
    padding: 2em;
}

nav ul{
    display: inline-flex;
    float: right;
    margin-right: 1.2em;
}

nav li, p{
    display: block;
    margin: -.5em auto;
    padding: 0em .8em;
}

nav a, p{
    color: #fff;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: 600;
    padding: 1px;
}

nav a:hover{
    color: #1ED760;
}

header{
    background-color: #1D75DE;
    height: 250px;
    padding: 50px;
}

header h1{
    color: #ffff;
    font-size: 2.4em;
}

header p{
    font-size: 1.4em;
    padding: 50px 0px;
    font-weight: normal;
    margin-bottom: 8px;
}

header strong{
    font-size: 1.1em;
    font-weight: normal;
}

.but1{
    background-color: rgba(27, 27, 27, 0.959);
    padding: 20px 30px;
    border-radius: 50px;
    color: #ffff;
    text-decoration: none;
    font-size: .9em;
    font-weight: 600;
}

.but1:hover{
    background-color: black;
    padding: 22px 32px;
}

.but2{
    padding: 18px 28px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: 600;
}

.but2:hover{
    padding: 20px 29px;
    background-color: #1861bb;
}

.pp{
    margin-top: 10px;
    font-size: 11px;
}

.container{
    padding: 10px;
    height: 250px;
}

.container h1{
    font-size: 1.8em;
    padding: 30px 0px ;
    text-align: center;
}

.container p{
    color: black;
}

.pa{
    font-size: 12px;
    margin: 10px 0px;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
}

.pq{
    margin: 15px 0px 5px 0px;
    text-align: center;
    font-size: 18px;
}

li{
    list-style: none;
    margin: 0px 10px;
}

.container2{
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container2 .bloco1{
    width: 265px;
    height: 550px;
    background-color: #fff;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.404);
}

.center{
    text-align: center;
}

.container2 p{
    color: black;
    font-weight: normal;
    margin: 20px 0px
}

button{
    width: 100%;
    border: none;
    background-color:rgba(27, 27, 27, 0.959);
    padding: 15px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: black;
    padding: 16px;
}

.position{
    position: absolute;
    width: 92.5%;
    bottom: 50px;
    margin: 0 auto;
}

 @media (max-width: 1221px){  
    .container2{
        display: block;
        padding: 10px;
    }

    .container2 .bloco1{
        margin: 20px auto;
        width: 400px;
    }
}

@media (max-width: 915px){
    .container{
        height: 450px;
    }
    .container ul{
        display: block;
    }
    li{
        margin: 30px 0px;
    }
    .pq{
        font-size: 22px;
    }
    #pm{
        margin: -30px 0px 0px 0px;
    }
}

@media (max-width: 770px){
    header h1{
        font-size: 1.2em;
    }

    header p{
        font-size: .8em;
    }
}

@media (max-width: 605px){
    nav ul{
        margin: 0 -30px; 
    }
    nav a{
        font-size: .8em;
    }
}