@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2EBE3;
}

.container{
    display: flex;
    width: 650px;
}

.imagem1{
    width: 300px;
    height: 480px;
    border-radius: 5px 0px 0px 5px;
}

.preco{
    display: flex;
    margin: 20px;
}

h2{
    margin-right: 20px;
    margin-bottom: 20px;
    color: #3C8067;
    font-size: 2em;
}

span{
    color: rgba(0, 0, 0, 0.692);
    text-decoration: line-through;
}

.conteudo{
    background-color:#FFF;
    padding: 20px;
    border-radius: 0 5px 5px 0;
    margin-bottom: 3px;
}

.p-principal{
    letter-spacing: 5px;
    margin-left: 3px;
}

h1{
    font-size: 2.2em;
    color: rgba(0, 0, 0, 0.692);
}

.p-secundario{
    margin: 20px 0 40px 0;
    color: rgba(0, 0, 0, 0.692);
}

.car{
    width: 18px;
    height: 18px;
    margin-right: 10px ;
    margin-bottom: -3px;
    padding: 0;
}

button a{
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}

button{
    display: block;
    margin: 0 auto;
    background-color: #214538;
    border: none;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;   
}

footer p{
    font-size: 11px;
    margin-bottom: 10px;
}

@media (max-width: 700px){
    .container {
        display: block;
        width: 300px;
    }
    .image{
        transform: translateY(180px);
    }
    img{
        border-radius: 5px 5px 0px 0px;
        width: 300px;
    }
    .conteudo{
        transform: translateY(170px);
        border-radius: 0px 0px 5px 5px;
    }
    h1{
        margin-top: 10px;
        font-size: 1.5em;
        line-height: 35px;
    }
    .p-secundario{
        line-height: 25px;
        font-size: 14px;
    }
    h2{
        font-size: 1.6em;
    }
    footer{
        position: absolute;
        bottom: -340px;   
    }
}

@media (max-width: 480px){
    footer{
        position: absolute;
        bottom: -420px;   
    }
    h2{
        font-size: 1.3em;
    }
}