@charset "UTF-8";

:root{
    --cor1: #bb9eff;
    --cor2: #9b87fd;
    --cor3: #7b70fc;
    --cor4: #5a59fa;
    --cor5: #3a42f8;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor5);
    position: relative;
}

h1{
    margin-bottom: 20px;
    font-size: 1.3em;
    color: var(--cor5);
}

div{
    width: 320px;
    padding: 50px;
    background-color: white;
    text-align: center;
    border-radius: 7px;
    margin-right: 10px;
    margin-left: 10px;
}

img{
    width: 300px;
}

p{
    line-height: 23px;
    margin-top: 10px;
}

.valor{
    color: var(--cor5);
    font-weight: 600;
    font-size: 22px;
    margin: 20px 0px;
}

a{
    margin-top: 10px;
    text-decoration: none;
    background-color: var(--cor4);
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

a:hover{
    background-color: var(--cor3);
}

@media (max-width: 1310px){

.bloco3{
    margin-bottom: 20px;
    position: absolute;
    transform: translateY(105%);
    margin-bottom: 2%;
}

.bloco1{
    margin-right: 2%;
}

}

@media (max-width: 930px){

.bloco2{
    width: 62.5%;
    position: absolute;
    transform: translateY(100%);
    margin-left: 5%;
    margin-right: 5%;
}
.bloco3{
    width: 62.5%;
    position: absolute;
    transform: translateY(207%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.bloco1{
    width: 62.5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -50px;
}

img{
    width: 240px;    
}
}