@charset "UTF-8";

*{
    font-family: 'Noto Sans JP' , sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%) no-repeat;
}

.container{
    display: flex;
    height: 300px;
    width: 550px;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.384);
    border-radius: 5px;
}

.container div{
    background-color: black;
    padding: 30px 0;
    box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    width: 160px;
}

.container div p{
    text-align: center;
    color: white;
}

.pg{
    margin-bottom: 30px;
    font-size: 45px;
}

.pp{
    font-size: 13px;
}

@media (max-width: 615px){
    .container{
        width: 450px;
        height: 250px;
    }

    .container div{
        width: 120px;
        padding: 17px 0;
    }
}

@media (max-width: 495px) {
    .container{
        width: 400px;
        height: 200px;
    }

    .container div{
        width: 100px;
        padding: 10px 0;
    }
}